<div class="card">
  <form [formGroup]="loginFormGroup" (ngSubmit)="submitHandler()">
    <div>
      <mat-form-field class="loginFormField">
        <label>
          <input matInput placeholder="Username" formControlName="username">
        </label>
        <mat-error *ngIf="(username.touched && username.invalid) || username.invalid">
          Please enter your username.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="loginFormField">
        <label>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </label>
        <mat-error *ngIf="(password.touched && password.invalid) || password.invalid">
          Please enter your password.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="nextButtonWrapper" style="text-align: center; margin-bottom: 50px">
      <button type="submit" mat-raised-button color="primary" class="loginButton"
              [disabled]="!loginFormGroup.valid">Login
      </button>
    </div>
  </form>
  <div style="text-align: center;">
    <p style="font-family: 'Roboto', sans-serif">Don't have an account yet? </p>
    <button mat-button routerLink="/user/register">Sign up</button>
  </div>
</div>
